<!--BEGIN DEMO PANEL

================================================== -->

<!-- Style Switcher Files-->

<link rel="stylesheet" href="{{ site.baseurl }}/css/style-switcher.css" media="screen"/>

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" media="screen"/>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/styleswitch.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/js/switcher.js"></script>

<!-- DEMO PANEL -->

<div id="switcher-handle">

	<a class="" id="handle" href="#">feedback</a>

	<div id="style-switcher">

		<div id="switcher-header">

			<p>

				Theme Options

			</p>

		</div>

		<div id="switcher-body">

			<p>

				<strong>Layout Style</strong>

			</p>

		<select id="layout">		   

		  <option value="boxed">Boxed</option>

		  <option value="wide">Wide</option>		  

		</select>

		

			<p>

				<strong>Color Schemes</strong>

			</p>

			

			<div class="colors-holder">

				<a href="#" class="color-box" data-rel="e7402f"></a>

				<a href="#" class="color-box" data-rel="0E8FAB"></a>				

				<a href="#" class="color-box" data-rel="44cfc8"></a>				

				<a href="#" class="color-box" data-rel="9DC500"></a>				

				<a href="#" class="color-box" data-rel="76719a"></a>				

				<a href="#" class="color-box" data-rel="f2a020"></a>

				<a href="#" class="color-box" data-rel="33bee5"></a>				

				<a href="#" class="color-box" data-rel="e44884"></a>

				<a href="#" class="color-box" data-rel="18adb5"></a>				

				<a href="#" class="color-box" data-rel="f0b70c"></a>

				

				<a href="#" class="color-box" data-rel="346b7f"></a>

				<a href="#" class="color-box" data-rel="aecdcf"></a>

				<a href="#" class="color-box" data-rel="be9869"></a>

				<a href="#" class="color-box" data-rel="bf6c2f"></a>				

				<a href="#" class="color-box" data-rel="1abc9c"></a>				

				<a href="#" class="color-box" data-rel="7f8c8d"></a>				

				<a href="#" class="color-box" data-rel="b4ad7f"></a>				

				<a href="#" class="color-box" data-rel="fe6c6c"></a>				

				<a href="#" class="color-box" data-rel="e66a47"></a>

				<a href="#" class="color-box" data-rel="50e9f3"></a>

			</div>

			<div class="switcher-divider">

			</div>

			

			<p>

				<strong>Bg Patterns (for boxed)</strong>

			</p>

			<div class="colors-holder">

				<a data-rel="1" class="bg-box" href="#"></a>

				<a data-rel="2" class="bg-box" href="#"></a>

				<a data-rel="3" class="bg-box" href="#"></a>

				<a data-rel="4" class="bg-box" href="#"></a>

				<a data-rel="5" class="bg-box" href="#"></a>

				<a data-rel="6" class="bg-box" href="#"></a>

				<a data-rel="7" class="bg-box" href="#"></a>

				<a data-rel="8" class="bg-box" href="#"></a>

				<a data-rel="9" class="bg-box" href="#"></a>

				<a data-rel="10" class="bg-box" href="#"></a>

				<a data-rel="11" class="bg-box" href="#"></a>

				<a data-rel="12" class="bg-box" href="#"></a>

				<a data-rel="13" class="bg-box" href="#"></a>

				<a data-rel="14" class="bg-box" href="#"></a>

				<a data-rel="15" class="bg-box" href="#"></a>

				<a data-rel="16" class="bg-box" href="#"></a>

				<a data-rel="17" class="bg-box" href="#"></a>

				<a data-rel="18" class="bg-box" href="#"></a>

				<a data-rel="19" class="bg-box" href="#"></a>

				<a data-rel="20" class="bg-box" href="#"></a>

				<a data-rel="21" class="bg-box" href="#"></a>

				<a data-rel="22" class="bg-box" href="#"></a>

				<a data-rel="23" class="bg-box" href="#"></a>

				<a data-rel="24" class="bg-box" href="#"></a>

			</div>

		

		

		<div class="switcher-divider">

			</div>

			

			<p>

				<strong>Bg Images (for boxed)</strong>

			</p>

			<div class="colors-holder">

			<a data-rel="pic1" class="bgimg-box" href="#"></a>

			<a data-rel="pic2" class="bgimg-box" href="#"></a>

			<a data-rel="pic3" class="bgimg-box" href="#"></a>

			<a data-rel="pic4" class="bgimg-box" href="#"></a>

			<a data-rel="pic5" class="bgimg-box" href="#"></a>

			<a data-rel="pic6" class="bgimg-box" href="#"></a>

			<a data-rel="pic7" class="bgimg-box" href="#"></a>

			<a data-rel="pic8" class="bgimg-box" href="#"></a>

			<br/><br/>

			</div>

			

		</div>	

			

		<div id="switcher-footer">

			<p>

				<a href="http://www.upare.com/" target="_blank"><img src="https://static.upare.com/upare/{{ site.baseurl }}/img/logowowthemes.png"></a>



			</p>

		</div>

	</div>

</div>

<!-- END DEMO PANEL-->