{%- include header.html -%}
	<div class="container">
		<!-- MASONRY ITEMS START
	================================================== -->
		<div class="row">
			<div class="page-header">
				<h1>{{ page.title }}</h1>
				<div class="headerdivider">
				</div>
			</div>
			<!-- Filtering Menu
	================================================== -->
			<div class="row">
				<div class="col-md-12 text-center">
					<div id="filter">
						<ul>
							<li><a href="" data-filter="*" class="selected"><i class="icon icon-reorder"></i> All Items</a></li>
							{% assign cat1 = page.url | replace: ".html", "" %}
							{% assign catT = cat1 | split: "/"  %}
							{% if catT[2] != nil %}
								{% assign cat =  catT[2] %}
							{% else %}
								{% assign cat =  catT[1] %}
							{% endif %}
							{% assign tags = "" | split: "," %}
							{% if site.categories[page.category.first] %}
								{% assign tagarr = site.categories[page.category.first] %}
							{% else %}
								{% assign tagarr = site.categories[cat] %}
							{% endif %}
							{% for category in tagarr %}
								{% for taginpost in category.tags %}
									{% assign tags = tags | push: taginpost %}
								{% endfor %}
							{% endfor %}

							{% assign tags = tags | uniq %}
							{% for tag in tags %}
							
							<li><a href="" data-filter=".{{ tag }}"><i class="icon icon-th-large"></i> {{ tag }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- END filtering menu -->
			<div id="content">
				
				{% for post in site.categories[cat] %}
				{% assign local_asset = post.thumbnail[0] | slice: 0, 4 %}
				<div class="boxportfolio3 item {% for tag in post.tag %}{{ tag }} {% endfor %}">
					<div class="boxcontainer">
						<img src="{% if post.thumbnail[0] and local_asset == 'http' %}{{ post.thumbnail[0] }}{% elsif post.thumbnail[0] and local_asset != 'http' %}{{ site.media }}/{{ post.thumbnail[0] }}{% else %}{{ site.asset }}/img/demo/300x200.png{% endif %}">
						<div class="roll">
							<div class="wrapcaption">
								<a href="{{ post.url }}"><i class="icon-link captionicons"></i></a>
								<a data-gal="prettyPhoto[gallery1]" href="{% if post.thumbnail[0] and local_asset == 'http' %}{{ post.thumbnail[0] }}{% elsif post.thumbnail[0] and local_asset != 'http' %}{{ site.media }}/{{ post.thumbnail[0] }}{% else %}{{ site.asset }}/img/demo/300x200.png{% endif %}"><i class="icon-zoom-in captionicons"></i></a>
							</div>
						</div>
						<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
						<p>
							{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}
						</p>
					</div>
				</div>
				{% endfor %}
				<!-- next box etc -->
				<!-- MASONRY ITEMS END -->
			</div>
		</div>
	</div>

{%- include footer.html -%}
{%- include panel.html -%}
<link href="{{ site.asset }}/css/prettyPhoto.css" rel="stylesheet">
<script src="{{ site.asset }}/js/prettyPhoto.js"></script>
<script>
$(window).load(function(){
var $container = $('#content')
// initialize Isotope
$container.isotope({
  // options...
  resizable: false, // disable normal resizing
  // set columnWidth to a percentage of container width
  masonry: { columnWidth: $container.width() / 3 }
});
// update columnWidth on window resize
$(window).smartresize(function(){
  $container.isotope({
    // update columnWidth to a percentage of container width
    masonry: { columnWidth: $container.width() / 3 }
  });
});
});
</script>
<script>
//MASONRY
$(document).ready(function(){
var $container = $('#content');
  $container.imagesLoaded( function(){
	$container.isotope({
	filter: '*',	
	animationOptions: {
	 duration: 750,
	 easing: 'linear',
	 queue: false,	 
   }
});
});
//FILTER
$('#filter a').click(function(){
  var selector = $(this).attr('data-filter');
	$container.isotope({ 
	filter: selector,
	animationOptions: {
	 duration: 750,
	 easing: 'linear',
	 queue: false,
   }
  });
  return false;
});
$('#filter a').click(function (event) {
	$('a.selected').removeClass('selected');
	var $this = $(this);
	$this.addClass('selected');
	var selector = $this.attr('data-filter');
	$container.isotope({
		 filter: selector
	});
	return false;
});
});
//ROLL ON HOVER
$(function() {
$(".roll").css("opacity","0");
$(".roll").hover(function () {
$(this).stop().animate({
opacity: .8
}, "slow");
},
function () {
$(this).stop().animate({
opacity: 0
}, "slow");
});
});
</script>
</body>
</html>