{%- include header.html -%}
	<div class="container">
		<div class="row">
			<div class="page-header">

			<h1>{{ page.title }}</h1>

			<div class="headerdivider">

			</div>

		</div>

		<div class="row top30">

			<div class="col-md-6">

				<p>

					UPARE stands for Upgrade Passion and Responsibility Endlessly.
					
					

				</p>

				<p class="panel">
				
					UPARE was established in Beijing University of technology in September, 2006. It was initially a technical research group. Later, there were many talents in the fields of Internet application, functional security, network security, electromechanical control, artificial intelligence and so on, gradually attracting members and making contributions worldwide. The team includes a large number of university scholars, teachers, researchers, trained many leading figures and technological backbones, and formed a three-dimensional team of industry University Research Institute and application.

				</p>

				<p>

					Our organization has scientific research institutions and laboratories, including the Institute of computer science and technology, the Institute of artificial intelligence, the Institute of electronic information engineering, the Institute of microelectronics and solid state electronics, the network security laboratory, the functional security laboratory, and the signal & system laboratory. In terms of IUR, we do not follow but strive to set the trend.

				</p>

			</div>

			<div class="col-md-6 top5">

				<div class="flexslider">

					<ul class="slides">

						<li>

						<img src="{{ site.asset }}/img/demo/r1.jpg" alt="">

						</li>

						<li>

						<img src="{{ site.asset }}/img/demo/r2.jpg" alt="">

						</li>

					</ul>

				</div>

			</div>

		</div>

		<div class="row top15">

			<div class="col-md-6">

				<div class="titleborder">

					<div>

						Skill tree
						

					</div>

				</div>

				<ul id="skill">

					<li><span class="thebar progressdefault" style="width:100%;"></span>

					<h3><i class="icon-tag"></i> Internet applications</h3>

					</li>

					<li><span class="thebar progressdefault" style="width:90%;"></span>

					<h3><i class="icon-pushpin"></i> Artificial intelligence</h3>

					</li>

					<li><span class="thebar progressdefault" style="width:80%;"></span>

					<h3><i class="icon-ticket"></i> Network security</h3>

					</li>

					<li><span class="thebar progressdefault" style="width:70%;"></span>

					<h3><i class="icon-legal"></i> Electromechanical control</h3>

					</li>

				</ul>

			</div>

			<div class="col-md-6">

				<div class="titleborder">

					<div>

						Advantage

					</div>

				</div>

				<div class="box effect2 bottom0">

					<i class="icon-quote-left icon-4x pull-left icon-muted"></i>

					<p>

						We have no top investors, no advertising funds, no gorgeous rhetoric, the operation of the website comes from donations and project income, we put all our energy on research, practice and the needs of friends.
						
						

					</p>

					<p>

						Why choose us? We are all graduate students and teachers in well-known universities. We form a strong team to provide passionate and responsible services. Young thinking and mature experience collide with each other. There will always be creative solutions for you. We are full of energy, enterprising spirit and excellent technical support, go all out in work. We have completed projects for many enterprises, institutions, groups and individuals. Since its establishment in 2006, this team has never stopped the research and implementation of design and code. The service consciousness of the team is better than the engineering consciousness. The company management system and workflow are established internally, and the attitude of learning from customers is established externally, which ensures the reliable and rapid completion of the project.

					</p>

				</div>

			</div>

		</div>

		<div class="row">

			<div class="titleborder top20">

				<div>

					 Pillar

				</div>

			</div>
			
			<div class="col-md-4 left0">

				<div class="thumbnail">

					<img src="" alt="">

					<div class="caption">

						<h4>Pro.Sun Guangmin</h4>

						<span class="primarycol">- Professor -</span>

						<p>

							Doctoral supervisor, senior member of China Electronics Society, member of electronic measurement and Instrument Branch of China Electronics Society, director of embedded instrument and system technology branch of China instrumentation society, reviewer of journals such as journal of Acta Electronica Sinica, Journal on communications, Journal of Electronics & Information Technology, Chinese Journal of Scientific Instrument, JCST, National Natural Science foundation project Experts in international cooperation projects of the Ministry of science and technology and Doctoral Program Fund of the Ministry of education.

						</p>

						<ul class="social-icons">

							<li><a href="#"><i class="icon-envelope"></i></a></li>

							<li><a href="#"><i class="icon-facebook"></i></a></li>

							<li><a href="#"><i class="icon-twitter"></i></a></li>

							<li><a href="#"><i class="icon-linkedin"></i></a></li>

							<li><a href="#"><i class="icon-google-plus"></i></a></li>

							<li><a href="#"><i class="icon-pinterest"></i></a></li>

						</ul>

					</div>

				</div>

			</div>
			
			<div class="col-md-4">

				<div class="thumbnail">

					<img src="" alt="">

					<div class="caption">

						<h4>Dr. Li Yu</h4>

						<span class="primarycol">- Associate professor -</span>

						<p>

							Associate Professor, Chinese University of Hong Kong. He is the reviewer of domestic and foreign journals such as IEEE TGRS, IEEE JSTARS, IEEE Access, International Journal of Applied Remote Sensing and Geoinformation, Remote Sensing, IET Image Processing, Journal of Images and Graphics;

						</p>

						<ul class="social-icons">

							<li><a href="#"><i class="icon-envelope"></i></a></li>

							<li><a href="#"><i class="icon-facebook"></i></a></li>

							<li><a href="#"><i class="icon-twitter"></i></a></li>

							<li><a href="#"><i class="icon-linkedin"></i></a></li>

							<li><a href="#"><i class="icon-google-plus"></i></a></li>

							<li><a href="#"><i class="icon-pinterest"></i></a></li>

						</ul>

					</div>

				</div>

			</div>
			
			<div class="col-md-4">

				<div class="thumbnail">

					<img src="{{ site.asset }}/img/demo/avatar.jpg" alt="">

					<div class="caption">

						<h4>Dr. Liu Jie</h4>

						<span class="primarycol">- Doctor -</span>

						<p>

							Participate in a number of military projects, have strong experience in radar, neural network, automation control field.

						</p>

						<ul class="social-icons">

							<li><a href="#"><i class="icon-envelope"></i></a></li>

							<li><a href="#"><i class="icon-facebook"></i></a></li>

							<li><a href="#"><i class="icon-twitter"></i></a></li>

							<li><a href="#"><i class="icon-linkedin"></i></a></li>

							<li><a href="#"><i class="icon-google-plus"></i></a></li>

							<li><a href="#"><i class="icon-pinterest"></i></a></li>

						</ul>

					</div>

				</div>

			</div>
			

			<div class="col-md-4 left0">

				<div class="thumbnail">

					<img src="{{ site.asset }}/img/demo/team1.jpg" alt="">

					<div class="caption">

						<h4>Mr. Ma Zhishan</h4>

						<span class="primarycol">- Chief Network Engineer -</span>

						<p>

							20 years of network engineer experience, with CCIE, CCNP, CISP certification, network security, information security has a full view.

						</p>

						<ul class="social-icons">

							<li><a href="mailto:angelmzs@sina.com"><i class="icon-envelope"></i></a></li>

							<li><a href="//weibo.com/saizidashi" target="_blank"><i class="icon-weibo"></i></a></li>

							<li><a href="//twitter.com/saizidashi" target="_blank"><i class="icon-twitter"></i></a></li>

							<li><a href="//www.renren.com/223600965" target="_blank"><i class="icon-renren"></i></a></li>

							<li><a href="" target="_blank"><i class="icon-google-plus"></i></a></li>

							<li><a href="" target="_blank"><i class="icon-facebook"></i></a></li>

						</ul>

					</div>

				</div>

			</div>

			<div class="col-md-4">

				<div class="thumbnail">

					<img src="{{ site.asset }}/img/demo/team2.jpg" alt="">

					<div class="caption">

						<h4>Dr. Wang Hao</h4>

						<span class="primarycol">- Lecturer -</span>

						<p>

							He is a member of the National Standards Committee and a doctor of neural network and image recognition in Beijing University of Technology, and holds IEE, RHCE, CISP, CIES, NCRE3 and MCSE certificates and has participated in hundreds of Internet projects.


						</p>

						<ul class="social-icons">

							<li><a href="mailto:hello@wanghao.name"><i class="icon-envelope"></i></a></li>

							<li><a href="//weibo.com/u/5034258602" target="_blank"><i class="icon-weibo"></i></a></li>

							<li><a href="//twitter.com/howwant" target="_blank"><i class="icon-twitter"></i></a></li>

							<li><a href="//www.renren.com/250636175" target="_blank"><i class="icon-renren"></i></a></li>

							<li><a href="//plus.google.com/u/0/112385806559091970577" target="_blank"><i class="icon-google-plus"></i></a></li>

							<li><a href="//www.facebook.com/profile.php?id=100008215300514" target="_blank"><i class="icon-facebook"></i></a></li>

						</ul>

					</div>

				</div>

			</div>

			<div class="col-md-4">

				<div class="thumbnail">

					<img src="{{ site.asset }}/img/demo/team3.jpg" alt="">

					<div class="caption">

						<h4>Ms. BlancaBY</h4>

						<span class="primarycol">- Associate professor -</span>

						<p>

							She is a research fellow at the State University of New York at Buffalo, majoring in economics and management, cultivating an international vision of the team as well as teamwork and leadership.

						</p>

						<ul class="social-icons">

							<li><a href="#"><i class="icon-envelope"></i></a></li>

							<li><a href="#"><i class="icon-facebook"></i></a></li>

							<li><a href="#"><i class="icon-twitter"></i></a></li>

							<li><a href="#"><i class="icon-linkedin"></i></a></li>

							<li><a href="#"><i class="icon-google-plus"></i></a></li>

							<li><a href="#"><i class="icon-pinterest"></i></a></li>

						</ul>

					</div>

				</div>

			</div>
			
			

		</div>

	
		</div>
	</div>
{%- include footer.html -%}
{%- include panel.html -%}
<!-- CALL FLEXSLIDER -->

	<script type="text/javascript">

	  $(window).load(function() {

		$('.flexslider').flexslider({

		pauseOnHover: false,    

		slideshow: true,                //Boolean: Animate slider automatically

		slideshowSpeed: 4000,           //Integer: Set the speed of the slideshow cycling, in milliseconds

		animationSpeed: 1300,

		animation: "slide",              //String: Select your animation type, "fade" or "slide"

		easing: "swing",               //{NEW} String: Determines the easing method used in jQuery transitions. jQuery easing plugin is supported!

		direction: "horizontal",

		controlNav: false,               //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage

		directionNav: true

		});

	  });

	</script>
</body>
</html>