{%- include header.html -%}
	<div class="container">
		<div class="page-header">
			<h1>{{ page.title }}</h1>
			<div class="headerdivider">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{ content }}
				<ul class="icons-ul">
					<li><i class="icon-li icon-ok"></i>Complete instructions for use</li>
					<li><i class="icon-li icon-ok"></i>Assist in the deployment of the project</li>
					<li><i class="icon-li icon-ok"></i>Complete intellectual property protection and transfer procedures</li>
					<li><i class="icon-li icon-ok"></i>Customers can customize pages and functions according to their needs
					<li><i class="icon-li icon-ok"></i>Limited after-sales service</li>
				</ul>
			</div>
			<!-- end description area -->
			<!-- begin slider area -->
			<div class="col-md-6 top10">
				<div class="flexslider">
					<ul class="slides">
						{% for thumbnail in page.thumbnail %}
                        {% assign local_asset = thumbnail | slice: 0, 4 %}
						<li>
						<img src="{% if local_asset == 'http' %}{{ thumbnail }}{% else %}{{ site.media }}/{{ thumbnail }}{% endif %}">
						</li>
						
						{% endfor %}
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- end slider area -->
		</div>
		
		<div class="titleborder top40 clearfix">
			<div>
				 Similar Work
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="list_carousel" style="height:230px;">
					<div class="carousel_nav">
						<a class="prev" id="car_prev" href="#"><span>prev</span></a>
						<a class="next" id="car_next" href="#"><span>next</span></a>
					</div>
					<div class="clearfix">
					</div>
					<div class="heightauto">
						<ul id="recent-projects" class="heightauto">
							
							{% for post in site.tags[page.tag.first] limit:10 %}
							{% assign local_asset = post.thumbnail[0] | slice: 0, 4 %}
							{% if local_asset == 'http' %}
								{% assign thumbnail = post.thumbnail[0] %}
							{% else %}
								{% capture thumbnail %}
								{{ site.baseurl }}/{{ post.thumbnail[0] }}
								{% endcapture %}
							{% endif %}
							<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="{{ site.baseurl }}{{ post.url }}"><img src="{% if thumbnail %}{{ thumbnail }}{% else %}{{ site.asset }}/img/demo/300x200.png{% endif %}" class="imgOpa" width="300"></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
									<p>
										{% if post.description %}{{ post.description  | truncatewords: 15 }}{% else %}{{ post.excerpt  | truncatewords: 15 }}{% endif %}
									</p>
								</div>
							</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END Carousel List -->
	</div>
{%- include footer.html -%}
{%- include panel.html -%}
<!-- CALL FLEXSLIDER -->
<script type="text/javascript">
  $(window).load(function() {
	$('.flexslider').flexslider({
	pauseOnHover: false,    
	slideshow: true,                //Boolean: Animate slider automatically
	slideshowSpeed: 4000,           //Integer: Set the speed of the slideshow cycling, in milliseconds
	animationSpeed: 1300,
	animation: "slide",              //String: Select your animation type, "fade" or "slide"
	easing: "swing",               //{NEW} String: Determines the easing method used in jQuery transitions. jQuery easing plugin is supported!
	direction: "horizontal",
	controlNav: true,               //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage
	directionNav: true
	});
  });
</script>
<!-- CALL CAROUSEL LIST -->
<script type="text/javascript">
	$(window).load(function(){			
				$('#recent-projects').carouFredSel({
					responsive: true,
					width: '100%',
					auto: true,
					circular	: true,
					infinite	: false,
					prev : {
						button		: "#car_prev",
						key			: "left",
							},
					next : {
						button		: "#car_next",
						key			: "right",
								},
					swipe: {
						onMouse: true,
						onTouch: true
						},
					scroll : 1500,
					items: {
						visible: {
							min: 4,
							max: 4
						}
					}
				});
			});	
	</script>
<!-- Call opacity on hover images from carousel-->
<script type="text/javascript">
$(document).ready(function(){
    $("img.imgOpa").hover(function() {
      $(this).stop().animate({opacity: "0.6"}, 'slow');
    },
    function() {
      $(this).stop().animate({opacity: "1.0"}, 'slow');
    });
  });
</script>
</body>
</html>
